### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [114]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csv_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

## Player Count

* Display the total number of players

In [115]:
#counts unique players in the game and displays the value under a new header "Total Players"
player_count = len(purchase_data["SN"].unique())
player_count_df = pd.DataFrame({"Total Players":[player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [116]:
#Runs calculations and obtains the number of unique items
unique_items = (purchase_data["Item Name"].unique())
unique_items_count = pd.DataFrame(unique_items).count()

#Calculates the average price 
average_price = purchase_data["Price"].mean()

#Calculates the average number of purchases
number_of_purchases = purchase_data["Purchase ID"].value_counts()
number_of_purchases_sum = number_of_purchases.sum()

#Calculates the total revenue 
total_revenue = purchase_data["Price"].sum()

In [117]:
#Creates the summary dataframe to hold the results and out put them
purchases_analysis_total = {"Number of Unique Items": unique_items_count,"Average Price": average_price, "Number of Purchases": number_of_purchases_sum,  "Total Revenue": total_revenue}
purchases_analysis_total = pd.DataFrame(purchases_analysis_total)

#Formats float values to output as $
pd.options.display.float_format = '${:,.2f}'.format
purchases_analysis_total

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [118]:
# Using GroupBy in order to separate the data into fields according to "Gender" values
gender_demographics_df = purchase_data.groupby("Gender").agg({"SN":"unique"})
gender_demographics_df["Total Count"] = gender_demographics_df["SN"].apply(len)
gender_demographics_df.drop(columns="SN",inplace=True)

In [119]:
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Total Count"] / gender_demographics_df["Total Count"].sum() 
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2%}".format)
gender_demographics_df.sort_values("Total Count",ascending=False,inplace=True)
gender_demographics_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [120]:
#Calculates to obtain purchase count, avg purchase price, avg. purchase total,  
gender_purchase_analysis_df = purchase_data.groupby("Gender").agg({"Price":["count", "mean", "sum"], "SN":"unique"})
gender_purchase_analysis_df.columns = gender_purchase_analysis_df.columns.map("_".join)

gender_purchase_analysis_df["SN_count"] = gender_purchase_analysis_df["SN_unique"].apply(len)
gender_purchase_analysis_df["Avg Total Purchase per Person"] = gender_purchase_analysis_df["Price_sum"]\
                                                               / gender_purchase_analysis_df["SN_count"]

In [121]:
#Outputs and formats the data
column_headers = {
                 "Price_count":"Purchase Count", 
                 "Price_mean":"Average Purchase Price", 
                 "Price_sum":"Total Purchase Value", 
                 "SN_count":"Unique Users Count"
                }
gender_purchase_analysis_df.rename(columns=column_headers, inplace=True) 

gender_purchase_analysis_df = gender_purchase_analysis_df[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]]

gender_purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [122]:
# Bins are 0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000   
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]

# Create the names for the bins
bin_titles = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

In [123]:
#Sorts age values into the bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels = bin_titles)

#Counts total players by age
group_by_age = purchase_data.groupby("Age Group")
age_count = group_by_age["SN"].nunique()

#Calculates the percentage spent by 
age_percent = (age_count/player_count) * 100

In [124]:
#Creates a dataframe and formats it 
age_df = pd.DataFrame({
                    
                    "Total Count":age_count,
                    "Percentage of Players": age_percent
                     })
age_df.index.name = None
age_df.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [146]:
# Counts purchases made by an age group
purchase_count = group_by_age["Purchase ID"].count()

# Calculates the average price per item spent by an age group
avg_purchase_price = group_by_age["Price"].mean()

# Calculates total spent by an age group
total_purchase_value = group_by_age["Price"].sum()

# Calculates the average purchase made by the users ine each age group
avg_purchase_per_person = total_purchase_value/age_count

In [147]:
# Create data frame with obtained values
age_demo_df = pd.DataFrame({
                                
                                  "Purchase Count": purchase_count,
                                 "Average Purchase Price": avg_purchase_price,
                                 "Total Purchase Value":total_purchase_value,
                                 "Avg Total Purchases per Person": avg_purchase_per_person
                                 })

# Format the data frame with no index name in the corner
age_demo_df.index.name = None

# Format with currency style
age_demo_df.style.format({
                              "Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"
                             })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [127]:
# Groups purchases made by screen name
top_spenders = purchase_data.groupby("SN")

# Counts purchases made by screen name
top_spender_purchase = top_spenders["Purchase ID"].count()

#Calculates the average of purchases by a user
top_spender_avg_purchase = top_spenders["Price"].mean()

# Counts total spent on purchases by a user
top_spender_total_purchase = top_spenders["Price"].sum()

In [128]:
# Create dataframe 
top_spenders = pd.DataFrame({
                             "Purchase Count": top_spender_purchase,
                             "Average Purchase Price": top_spender_avg_purchase,
                             "Total Purchase Value":top_spender_total_purchase
                            })

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({
                                "Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"
                                })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [129]:
#Gets the Item ID, Item Name and Item Price
item_info = purchase_data[["Item ID", "Item Name", "Price"]]

#Groupsby item ID and Item Name
items_group = item_info.groupby(["Item ID","Item Name"])

#Calculates the purchase price
purchase_price = (items_group["Price"].sum())

#Calculates the item purchase count
item_purchase_count = items_group["Price"].count()

#Calculates item price
item_price = purchase_price/item_purchase_count

In [130]:
# Create dataframe 
popular_items_df = pd.DataFrame({
                                "Purchase Count": item_purchase_count, 
                                "Item Price": item_price,
                                "Total Purchase Value":purchase_price
                                })

# Sort in descending order 
popular_items_formatted = popular_items_df.sort_values(["Purchase Count"], ascending=False).head()


# Format
popular_items_formatted.style.format({
                                    "Total Purchase Value":"${:,.2f}",
                                    "Item Price":"${:,.2f}",
                                    })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [131]:
#Sorts the above table by total purchase value
profitable_items = popular_items_df.sort_values(["Total Purchase Value"], ascending=False).head()
# Format
profitable_items.style.format({
                            "Item Price":"${:,.2f}",
                            "Total Purchase Value":"${:,.2f}"
                              })